{% load static %}
/*import font Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.text-btn {
    /*the font*/
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 600; /*semibold*/
    color: black;
    /*the button*/
    text-decoration: none;
    padding: 10px;
    background-color: transparent;
}

.text-btn:hover{
    color: #363636
}

.text-btn#logo{
    font-size: 20px;
    padding: 0px;
    margin-top: 0;
}

#konversi .text-btn {
    color: #FAFAFA;
}

.topnav-right .text-btn{
    margin-right: 14px;
}

#signup-btn{
    /*the font*/
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 600; /*semibold*/
    color: black;
    /*the button*/
    text-decoration: none;
    padding: 10px 15px;
    background-color: #F0EEEC;
    border-radius: 4px;
}

#signup-btn:hover{
    background-color: #E5E4E3;
}

body#home {
    margin: 0px;
    padding: 0px;
    background:#E0C19F;
}

body#konversi {
    background:#2C2B37;
}

body#white{
    background-color: #FAFAFA;
}

/*heading 1*/
h1 {
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.5px;
}

body#home h1{
    margin:0;
    color:#49290C;
}

body#konversi h1{
    color:#E0C19F;
    position: static;
    width: 560px;
    height: 54px;
    left: 0px;
    top: 0px;
}

/*paragraph default*/
p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

body#konversi p {
    color: #78768B;
    position: static;
    width: 570px;
    height: 54px;
    left: 0px;
    top: 61px;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

textarea {
    position: static;
    width: 520px;
    height: 259px;
    left: 0px;
    top: 0px;
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    /* Gray/Default */
    border: 2px solid #C2C9D1;
    border-radius: 5px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 27px 0px;
}

input[type=submit] {
    /*the button*/
    font-family: 'Poppins', sans-serif;
    background-color: #E7D7C1;
    color: black;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*font*/
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

input[type=submit]:hover {
    background-color: #DDC6A7;
}

#people {
    position: absolute;
    height: 516px;
    right: -68px;
    bottom: 0px;
    object-fit: cover;
    object-position: 50% 0;
}

div h1 {
    position: absolute;
    width: 500px;
    height: 108px;
    left: 65px;
    top: 252px;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: semibold;
    font-size: 14px;
    border: 0;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: "🡢";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 30px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

button#mainbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px;
    background-color: #2C2B37;
    color: #FAFAFA;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    width: 251.5px;
    height: 74px;
    left: 65px;
    top: 402px;
    border-radius: 4px;
    outline: none;
}

button#mainbtn:hover,
button#mainbtn:focus {
    background-color:#343438;
    transition: 0.25s;
}

button#arrow {
    width: 25px;
    height: 24px;
}