@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #E0C19F;
    overflow: hidden; /* Hide scrollbars */
}

nav {
    margin-bottom: 60px;
}

.column{
    flex: 50%;
    padding-left: 60px;
}

.column-2{
    flex: 50%;
    display: block;
}

/*heading 1*/
h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.5px;
    color: #49290C;
    position: absolute;
    top: 252px;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: semibold;
    font-size: 14px;
    border: 0;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: "🡢";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 30px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

button#mainbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px;
    text-decoration: none;

    background-color: #2C2B37;
    color: #FAFAFA;
    font-size: 24px;
    font-weight: 600;

    width: 251.5px;
    height: 74px;

    border-radius: 4px;
    outline: none;

    position: absolute;
    top: 402px;
    left: 60px;
}

button#mainbtn:hover,
button#mainbtn:focus {
    background-color:#343438;
    transition: 0.25s;
}

img#people {
    width: 776px;
    height: 516px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
}