@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background: #FAFAFA;
}
.navbar{
    margin-top: 20px;
}

.btn{
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: black;
}

.bg-light{
  background-color: #FAFAFA !important;
}

.navbar-brand{
  margin-left: 65px;
}

.tickmark{
    position: static;
    width: 261px;
    height: 261px;
    left: 82px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}

.rightside{
  margin-right: 65px;
  float: right;
  position: relative;
}

.btn-secondary{
  background-color: #F0EEEC;
  border-color: #fff;
  color: black;
  border-radius: 4px;
  padding: 10px 15px;
  margin-left: 20px;
}

.v2_232 {
  width: 425px;
  height: 400px;
  background: url("../images/v2_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 427px;
  overflow: hidden;
}

.v2_228 {
  width: 261px;
  height: 261px;
  background: url("../images/v2_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 82px;
  overflow: hidden;
}

.v2_229 {
  width: 425px;
  height: 135px;
  background: url("../images/v2_229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 0px;
  overflow: hidden;
}

.v2_230 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 55px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.v2_231 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.name {
  color: #fff;
}