{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hasil Konversi</title>
    <!--untuk header-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <!--css bawaan-->
    <link rel="stylesheet" href="{% static 'css/hasil.css' %}">
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/logo.png' %}" alt="logo" width="80px">
        </a>

        <div class="rightside">
            <a href="login" class="btn" role="button">Login</a>
            <a href="signup" class="btn btn-secondary" role="button">Sign Up</a>
        </div>
    </nav>
    <aside class="popup">
        <section></section>
        <a class="close" href="#">&times;</a>
    </aside>
    <main>
        <textarea id="logtext" oninput="live(this.value+'\n',true);" placeholder="What&#39;s your process like today?" disabled>
Welcome to BPMN Sketch Miner:

Draw simple BPMN diagrams
(timer quickly)
as you describe them with stories

///Start by writing your list of tasks
///one on each line...
        </textarea>
        <div class="second-nav">
            <nav>
                <span id="button-option-layout">Layout: 
                    <a id="button-option-layout-orientation-vertical" href="#" title="Vertical">↓</a>
                    <a id="button-option-layout-orientation-horizontal" href="#" title="Horizontal">→</a>
                </span>
                <span id="button-option-layout">Zoom: 
                    <a id="button-option-layout-zoom-none" href="#" title="1:1">1:1</a>
                    <a id="button-option-layout-zoom-fit" href="#" title="Fit">Fit</a>
                </span>
                <span id="button-export">Export: 
                    <a id="button-export-svg" href="#">SVG</a>
                    <a id="button-export-png" href="#">PNG</a>
                </span>
            </nav>
            <svg id="restalk" style=""> </svg>
        </div>
        </main>
        <div style="display: none">
            <footer>
                <progress id="progress" style="display: none"></progress>
                <p id="status" style="display: none"></p>
            </footer>
            <textarea id="explog"></textarea>
        </div>
        <script src="{% static 'js/scripts7ea1.js' %}"></script> 
    </body>
</html>