{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bpency.css' %}">
    <title>konversi - konversi artefak </title>
</head>
<body id="konversi">
    <div class="row">
        <div class="column">
            <h1>Masukkan sequence diagram</h1>
            <p>Mohon menempelkan kode PlantUML sequence diagram di sini. Kode lain tidak akan bekerja.</p>
            </br>
            <form action="">
                <textarea name="codeplant" placeholder="Tempelkan kode PlantUML di sini..."></textarea>
                </br>
                <input type="submit" id="sequence" style="width: 565px" value="Konversi menjadi BPMN">
            </form>
        </div>
        <div class="column">

        </div>
    </div>
</body>
</html>