{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!--header-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/login.css'%}">
        <!--konversi-->
        <link rel="stylesheet" href="{% static 'css/konversi.css'%}">
        <title>Loading...</title>
    </head>
    <body>
        <div class="row">
            <nav class="navbar navbar-dark">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/logowhite.png' %}" alt="logo" width="80px">
                </a>
    
                <div class="rightside">
                    <a href="login" class="btn" role="button">Login</a>
                    <a href="signup" class="btn btn-secondary" role="button">Sign Up</a>
                </div>
            </nav>
            <div class="column">
                <h1>Masukkan sequence diagram</h1>
                <p>Mohon menempelkan kode PlantUML sequence diagram di sini.<br/>Kode lain tidak akan bekerja.</p>
                <form method="POST">
                    {% csrf_token %}
                    <textarea  name="codeplant" class="codeplant" placeholder="Tempelkan kode PlantUML di sini..."></textarea>
                    </br>
                    <input type="submit" id="sequence">
                </form>
            </div>
            <div class="column-2">
                <!--loading.... hanya muncul kalo beneran loading-->
                
            </div>
        </div>
    </body>
    </html>