{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div style="margin-bottom: 40px;">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/logo.png' %}" alt="logo" width="80px">
            </a>

            <div class="rightside">
                <a href="login" class="btn" role="button">Login</a>
                <a href="signup" class="btn btn-secondary" role="button">Sign Up</a>
            </div>
        </nav>

        <div class="box-login">
            <h1 style="margin-bottom: 30px; font-weight: 600">Login</h1>
            <p style="text-align: center; font-weight: 400;">Masuk sekarang dan lanjutkan <br> konversi artefak Anda.</p>

            <!-- kotak email -->
            <input class="form-login" id="email" aria-describedby="emailHelp" placeholder="Email">

            <!-- kotak password -->
            <input class="form-login" id="password" aria-describedby="passHelp" placeholder="Password">
            <a href="#" id="passHelp" class="form-text" style="margin-bottom: 20px;">Lupa Password?</a>

            <button style="text-align: center; font-weight: 600; border: 0px;" type="submit" id="login" class="button">Log me in</button>
            
            <p style="text-align: center" class="form-text">Belum ada akun? <a href="signup">Sign up sekarang</a></p>
        </div>
    </div>
</body>
</html>